@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.ModalTitleBar{
    position: sticky;
    top: 0; /* Sticks the title bar to the top */
    background-color: #010127;
    color: white;
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1101;
}
.sticky-nav{
  position: sticky;
  top: 0; /* Sticks the title bar to the top */
  margin: 0;
  padding: 0;
  z-index: 1101;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  }
  .mymodal-content {
    background-color: white;
    border: 1px solid #888;
    width: 50%; /* Cover at least 60% of the width */
    height: 100%; /* Cover at least 60% of the height */
    max-width: 80%; /* Max width is 80% of viewport */
    overflow-y: auto; /* Enable scrolling within the modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for better visual */
    border-radius: 10px; /* Optional: add border radius */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    opacity: 1;
    font-family: 'Open Sans',Poppins, Roboto, sans-serif;
    font-size:small;  
  }
  .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  .book-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 1dvw;
}
.ctrls-container{
  display: flex;
  justify-content: space-evenly;
  
}

.book-list li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: inherit;
}

.book-list>li p{
  padding:0;
  margin: 0;
  font-size: small;
}

/* .book-list img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
} */

h1,h2,h3,h4,h5,h6{
  font-family: Poppins, Roboto,'Open Sans','Segoe UI' ,sans-serif;
}
.higher{
  z-index: 1101;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the card takes up full height */
  border: 1px solid #ddd;
  padding: 5px;

}
.book-img{
  width: 100%;
  height: 25dvh;
  object-fit: contain;
  cursor: pointer;
}
.book-img-l{
  width: auto;
  min-width: 20dvw;
  max-height: 35dvh;
  object-fit: contain;
}
.book-dets {
  flex-grow: 1; /* Ensure the details section grows to fill space */
}

.add-item {
  display: flex;
  width: 100%;
  justify-content: center;
  /* justify-content: flex-end;  */
}

.ctrls {
  margin-top: 5px;
  flex-grow: 1; /* All items grow equally */
  flex-basis: 0; /* Base size of 0 */
  border: none;
  cursor: pointer;
}
.flex-cont{
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  height: 100vh; 
  flex-direction: column;
}
.instruct{
  font-family: Poppins, Roboto,'Open Sans', sans-serif;
}
p{
  margin: 0;
  padding: 0;
}
.menu-bar{
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 1 1 0px;
}
.sort-items{
  align-items: center;
}
.winded{
  height: fit-content;
  width: fit-content;
}
.error-img{
  height: 50dvh;
  width: auto;
}
.pict{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}
.pict img{
  height: 25dvh;
  width: 100%;
}
.ctrls-flex-c{
  display: flex;
  flex-direction: column;
  justify-items:flex-end;
}
.full{
  height: 100dvh;
  width: 100dvw;
}
.dark{
  background-color:rgb(236 237 243)
}
/* Inactive button style (default) */

/* .sort-btn {
  color: #212529; 
}

.sort-btn.active {
  color: #0062cc; 
} */

.defa-img{
  color: white;
  align-self: center;
  background-image: url('/covers/DefaultCover.png');
  background-position: center;
  background-size: contain;
  /* background-blend-mode: lighten; */
  filter: grayscale(20%) contrast(70%);
  background-blend-mode: darken;
  image-rendering: optimizeQuality;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.hide{
  /* visibility: hidden; */
  display: none;
}

/* some quill editor formatting and styles */
.editor{
  overflow-y: auto;
  min-height: 45dvh;
  height: fit-content;
  /* box-sizing: border-box; */
  
}
.editor-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.editor, .ql-toolbar, .notes-header {
  min-width: 48dvw;
  border-radius: 5px;
}
.editor p{
  margin-bottom: 0;
}
.ql-editor {
  font-family: 'Poppins', 'Roboto',Verdana,'Open Sans', sans-serif; /* Set the default font family here */
  font-size: 15px; /* Set the default font size here */
}
.ql-toolbar {
  flex-wrap: wrap;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Poppins"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Poppins"]::before {
  content: 'Poppins';
  font-family: 'Poppins', sans-serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before {
  content: 'Roboto';
  font-family:  'Roboto';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Open Sans"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Open Sans"]::before {
  content: 'Open Sans';
  font-family: 'Open Sans';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Verdana"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Verdana"]::before {
  content: 'Verdana';
  font-family: 'Verdana';
}
.ql-editor em, .ql-editor i {
  color: #000; /* Darker text color */
}  


/* ratings styling section */
.rating {
  display: inline-block;
  font-size: 0; /* Hides text nodes in some browsers */
  position: relative;
  cursor: pointer;
}

.rating-show{
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
  font-size: 12px;
  /* font-style: italic; */
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-size: 20px; /* Adjust the size of stars */
  color: lightgray; /* Empty star color */
}

.stars-outer::before {
  content: '★★★★★'; /* 5 stars */
  font-family: Arial, sans-serif; /* You can use icons here as well */
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: gold; /* Filled star color */
  width: 0; /* This will be dynamically changed */
}

.stars-inner::before {
  content: '★★★★★'; /* 5 stars */
  font-family: Arial, sans-serif;
}
/* .star-rating{
  margin-bottom: 1px;
} */
.rating-label{
  font-family: arial, 'Open Sans',  sans-serif;
  font-size:medium;
  font-style: italic;
  margin: 5px;;
}

.arial-ital{
    font-family: 'Open Sans', arial, sans-serif;
    font-size:small;
    margin:0;
    padding: 0;
}

/* view notes section: formatting */
.notes-section{
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  border-radius: 5px;
  height: 65dvh;  
  border: none!important;
}
@media (max-width: 932px) {
  .book-list{
    grid-template-columns: repeat(2, 1fr);
  }
  .editor-container{
    min-height: 30dvh;
  }
  .ql-toolbar{
    font-size: small;
  }
  .editor{
    overflow-y: auto;
    height: 20dvh;
    box-sizing: border-box;
  }  
  .stars-outer {
    display: inline-block;
    position: relative;
    font-size: 25px; /* Adjust the size of stars */
    color: lightgray; /* Empty star color */
  }
  .mymodal-content{
    overflow-y: auto; /* Enable scrolling within the modal */
    max-height: 90dvh;
    width: 100%;
    top: 0; /* Anchored 20% from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    margin: 0; /* Remove any default margin */    
  }
  .defa-img{
    color: white;
    align-self: center;
    background-image: url('/covers/DefaultCover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: lighten; */
    filter: grayscale(20%) contrast(70%);
    background-blend-mode: darken;
    image-rendering: optimizeQuality;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .pict img{
    height: 15dvh;
    width: 100%;
  }
  .flex-ctrls{
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }
  .flex-item-fill{
    width: 100%;
  }
  .editor, .ql-toolbar, .notes-header {
    width: 100%;
    border-radius: 5px;
  }
}